.char-name {
    background-color: #777;
    padding: .2em .6em .3em;
    font-size: 1.4em;
    font-weight: 900;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    border-radius: 0.25em;
}

.detail-table {
    width: 100%;
    max-width: 100%;
    border: 0.05em solid #ddd;
    font-size: 1.3em;
}

.detail-table > tbody > tr > th,
.detail-table > tbody > tr > td {
    border: 0.05em solid #ddd;
    padding: 0.3em;
}

.detail-table > tbody > tr > th {
    text-align: right;
    padding-right: 1em;
}

.detail-table > tbody > tr > td {
    padding-left: 0.5em;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.comments-list {
    font-size: 1.3em;
}

.comment-section {
    padding: 0.3em;
    border: 1px solid #bce8f1;
    border-radius: 0.3em;
    background-color: transparent;
    margin-bottom: 0.4em;
}
